<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<body>

  <div id="principal" class="homediv">

    <div><img src="/pics/meinboat.JPG" class="cvpic"></div>
    <div><p class="intro"> Here is my personal branding for my portfolio that represents what kind of 
      style or styles that I like. I am often very open to different styles and like to experiment with
       different layouts, fonts and colors. While I enjoy exploring varied aesthetics, I place high importance
        on maintaining continuity to ensure a cohesive and professional look.</p></div>
  </div>
  <div class="projectdivhome">
    {{#each projects}}
      <a href="/project/{{pid}}" class="project-itemhome" style="background-image: url('{{pimageurl}}'); background-size: cover; background-position: center;">
        <h2>{{pname}}</h2>
        {{pyear}}

        <strong>, Type:</strong>
        {{ptype}}
        <p><strong>Description:</strong> {{pdesc}}</p>
        <p><strong>Development tools:</strong> {{pdev}}</p>
       
      </a>
    {{/each}}
  </div>

    <div class="postdiv">
      <p class="instruction">Here you can add a message on the site</p>
      {{#if isLoggedIn}}
        <form action="/posts" method="POST">
          <textarea
            class="write"
            name="message"
            placeholder="Write your message here (max 20 words)"
          ></textarea><br />
          <button class="postbutton" type="submit">Post</button>
        </form>
      {{else}}
        <p class="instruction2">You must be logged in to post a message.</p>
      {{/if}}

      <ul>
        {{#each posts}}
          <li class="posts"><strong>{{this.username}}:</strong>
            {{this.message}}</li>
        {{/each}}
      </ul>
    </div>

  </div>
  <div class="scroll-container">
    <img
      src="/pics/skauto.png"
      alt="Cinque Terre"
      width="400"
      height="200"
    />
    <img
      src="/pics/weather.png"
      alt="Cinque Terre"
      width="400"
      height="200"
    />
    <img src="/pics/patches.png" alt="Cinque Terre" width="400" height="200" />
    <img src="/pics/ff.png" alt="Cinque Terre" width="300" height="200" />
    <img src="/pics/logov4u.svg" alt="Cinque Terre" width="400" height="200" />

    <img
      src="/pics/zonne-cover.jpeg"
      alt="Cinque Terre"
      width="300"
      height="300"
    />
  </div>

</body>